body {
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 100px;
}

table {
  border: none;
}

h2 {
  font-size: 22pt;
  text-decoration: strong;
}

#menu ul li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding-right: 40px;
}

#menu {
  background-color: rgb(56, 56, 56);
  height: 40px;
}

#menu ul {
  padding-top: 5px;
  padding-left: 80px;
}

#aprender-html {
  padding-top: 25px;
}

#primeira-coluna-tabela-aprender {
  padding-bottom: 50px;
}

#segunda-coluna-tabela-aprender p {
  line-height: 0.4;
  font-size: 11pt;
}

#dicas-html {
  padding-bottom: 80px;
}

#tutoriais {
  vertical-align: top;
  padding-left: 20px;
}

#contacte {
  background-color: whitesmoke;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-input {
  width: 40%;
  line-height: 30px;
  box-sizing: border-box;
}

#msg {
  width: 40%;
  line-height: 30px;
  box-sizing: border-box;
  height: 170px;
}

input[type="text"]::placeholder {
  text-align: left; /* for Chrome, Firefox, Opera */
  position: absolute;
}

footer {
  height: 75px;
  background-color: rgb(56, 56, 56);
  text-align: center;
  padding-top: 20px;
  color: white;
}
